//  ███╗...███╗██╗██╗..██╗██╗███╗...██╗███████╗
//  ████╗.████║██║╚██╗██╔╝██║████╗..██║██╔════╝
//  ██╔████╔██║██║.╚███╔╝.██║██╔██╗.██║███████╗
//  ██║╚██╔╝██║██║.██╔██╗.██║██║╚██╗██║╚════██║
//  ██║.╚═╝.██║██║██╔╝.██╗██║██║.╚████║███████║
//  ╚═╝.....╚═╝╚═╝╚═╝..╚═╝╚═╝╚═╝..╚═══╝╚══════╝
//  ...........................................

@mixin b-radius($tl:0, $tr:0, $bl:0, $br:0){
  border-top-left-radius: $tl;
  border-top-right-radius: $tr;
  border-bottom-left-radius: $bl;
  border-bottom-right-radius: $br;
}

//------ Shadows --------

@mixin shadow($depth) {
  @if $depth < 1 {
    box-shadow: none;
  } @else if $depth > 5 {
    @warn "Invalid $depth `#{$depth}` for mixin `shadow`.";
  } @else {
    box-shadow: bottom-shadow($depth), top-shadow($depth);
  }
}

//------ Transition -------

@mixin transition($prop,$time){
  transition: $prop $time ease-out;
}

//------ Button -------

@mixin button(){
  @include b-radius(4px, 4px, 4px, 4px);
  border: none;
  outline: none;
  text-align: center;
  font-size: $f-normal;
  font-weight: bold;
  @include transition(box-shadow, 0.5s);
  &:hover{
    cursor: pointer;
    @include shadow(1);
  }
}

@mixin buttonSize($w:100%,$h:40px){
  width: $w;
  height: $h;
}

//------ Spacing -------

@mixin space($value: 0px,$type: margin, $x: false, $y: false){
  @if $x {
    #{$type}-left: $value;
    #{$type}-right: $value;
  }
  @if $y {
    #{$type}-top: $value;
    #{$type}-bottom: $value;
  }
}