//  .██████╗.██████╗.██╗......██████╗.██████╗.███████╗
//  ██╔════╝██╔═══██╗██║.....██╔═══██╗██╔══██╗██╔════╝
//  ██║.....██║...██║██║.....██║...██║██████╔╝███████╗
//  ██║.....██║...██║██║.....██║...██║██╔══██╗╚════██║
//  ╚██████╗╚██████╔╝███████╗╚██████╔╝██║..██║███████║
//  .╚═════╝.╚═════╝.╚══════╝.╚═════╝.╚═╝..╚═╝╚══════╝
//  ..................................................

$c-primary: #FFE600;
$c-secondary: #3483FA;
$c-dark: #333;
$c-light: #EEE;
$c-graydark: #666;
$c-graylight: #999;
$c-w: #fff;
$c-free: #00a650;


//  ███████╗.██████╗.███╗...██╗████████╗███████╗
//  ██╔════╝██╔═══██╗████╗..██║╚══██╔══╝██╔════╝
//  █████╗..██║...██║██╔██╗.██║...██║...███████╗
//  ██╔══╝..██║...██║██║╚██╗██║...██║...╚════██║
//  ██║.....╚██████╔╝██║.╚████║...██║...███████║
//  ╚═╝......╚═════╝.╚═╝..╚═══╝...╚═╝...╚══════╝
//  ............................................

$f-bigger: 1.5rem;
$f-big: 1.25rem;
$f-normal: 1rem;
$f-small: 0.85rem;
$f-xsmall: 0.75rem;


//  ███████╗██████╗..█████╗..██████╗██╗███╗...██╗.██████╗.
//  ██╔════╝██╔══██╗██╔══██╗██╔════╝██║████╗..██║██╔════╝.
//  ███████╗██████╔╝███████║██║.....██║██╔██╗.██║██║..███╗
//  ╚════██║██╔═══╝.██╔══██║██║.....██║██║╚██╗██║██║...██║
//  ███████║██║.....██║..██║╚██████╗██║██║.╚████║╚██████╔╝
//  ╚══════╝╚═╝.....╚═╝..╚═╝.╚═════╝╚═╝╚═╝..╚═══╝.╚═════╝.
//  ......................................................

$space: 16px 32px;