.breadcrumbs{
  color: $c-graydark;
  font-size: $f-small;
  flex-wrap: wrap;
  &__item{
    margin: 5px 0px;
    &:not(:last-child){
      &::after{
        content: '>';
        margin: 0px 10px;
      }
    }
  }
}