.free{
  &__icon{
    width: 15px;
    margin-left: 5px;
  }
}

.product{
  background-color: $c-w;
  margin-bottom: 1px;
  &:first-of-type{
    @include b-radius(5px,5px,0,0);
  }
  &:last-child{
    @include b-radius(0,0,5px,5px);
  }
  &__img{
    width: 50%;
    object-fit: cover;
    @include media(mobile-only){
      width: 100%;
    }
  }
}

.product-detail{
  background-color: $c-w;
  @include shadow(1);
  .carousel{
    .slider-wrapper{
      width: 50%;
      @include media(mobile-only){
        width: 90%;
      }
    }
    .slide{
      background: $c-w;
    }
    .thumb{
      &:hover{
        cursor: pointer;
      }
    }
  }
  &__picture{
    width: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    img{
      object-fit: contain;
    }
  }
  &__title{
    font-size: $f-normal * 1.5;
  }
  &__price{
    font-size: $f-normal * 3;
  }
}