.product{
  background-color: $c-w;
  margin-bottom: 1px;
  &:first-child{
    @include b-radius(5px,5px,0,0);
  }
  &:last-child{
    @include b-radius(0,0,5px,5px);
  }
  &__img{
    width: 50%;
    object-fit: cover;
    @include media(mobile-only){
      width: 100%;
    }
  }
  .free{
    &__icon{
      width: 15px;
      margin-left: 5px;
    }
  }
}